<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head></head>
<body>
	<div th:fragment="navbar" th:if="${showNavbar}" id="navbar">
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
				</div>
				<div class="navbar-form navbar-right">
					<a role="button" class="btn btn-primary btn-sm" id="switchInstancesModal-btn"
					   data-toggle="modal" data-target="#switchInstancesModal" th:if="${isAppPage && (maxInstances > 1 || maxInstances == -1)}" >Switch instance</a>

					<a role="button" class="btn btn-primary btn-sm" onclick="Shiny.instances.eventHandlers.onRestartInstance();"
						th:if="${isAppPage && maxInstances == 1}" >Restart app</a>

					<a role="button" class="btn btn-primary btn-sm" onclick="Shiny.instances.eventHandlers.onDeleteInstance();"
					   th:if="${isAppPage && maxInstances == 1}" >Stop app</a>

					<a role="button" class="btn btn-primary btn-sm" th:href="@{http://remnrem.net:3000/d/bmNRNKo4z/moonlight-shinyproxy?orgId=1}" target="_blank">Admin</a>
				</div>
				<div class="navbar-right" sec:authorize="isAuthenticated()">
					<span class="navbar-text">
						<span class="glyphicon glyphicon-user"></span>
						<span sec:authentication="name"></span>
					</span>
				</div>
			</div>
		</nav>
		<div class="modal fade" id="reportIssueModal" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<form id="issueForm">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h4 class="modal-title">Report Issue</h4>
						</div>
						<div class="modal-body">
							<div class="form-group">
								<label for="customMessage"><span class="glyphicon glyphicon-chat"></span> Message to add to the report:</label>
								<textarea class="form-control" id="customMessage" placeholder="Enter message" cols="40" rows="5" name="customMessage"></textarea>
								<input type="hidden" name="currentLocation"></input>
							</div>
						</div>
						<div class="modal-footer">
							<button type="submit" class="btn btn-default btn-success">Submit</button>
							<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
						</div>
					</form>
				</div>
			</div>
		</div>

		<script lang="JavaScript">
			$(document).ready(function() {
				$('input[name="currentLocation"]').val(window.location.href);

				$("#issueForm").submit(function(event){
					event.preventDefault();
					var formValues= $(this).serialize();

					$.post("[[${contextPath}]]" + "issue", formValues, function(data){
						if (data.status === "success") {
							$('#customMessage').val('');
							$('#reportIssueModal').modal('hide');
							alert("Your issue has been reported");
						} else {
							alert("Something went wrong when reporting your issue");
						}
					}).fail(function() {
						alert("Something went wrong when reporting your issue");
					});
				});
			});
		</script>

	</div>
</body>
</html>
